html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

header, h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
}

body {
  font-family: "PT Serif", serif;
}

header ol {
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
}

figure {
  text-align: center;
}

article + p {
  font-weight: bold;
}

blockquote {
  font-style: italic;
  font-size: 1.5rem;
}

blockquote cite {
  font-size: .8rem;
}

h2 + ol {
  list-style-type: lower-greek;
}

h2 + p {
  font-style: italic;
}

dt {
  font-weight: bold;
}

h2 + ul {
  font-size: .8rem;
  list-style-type: circle;
}
