html {
  background-color: #c9b5ab;
}

header, h2 {
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
}

body {
  font-family: 'PT Serif', serif;
}

header ol {
  list-style-type: none;
}

a {
  color: #8f2440;
  text-decoration: none;
}

figure {
  text-align: center;
}

article + p {
  font-weight: bold;
}

blockquote {
  font-style: italic;
  font-size: 1.5rem;
}

cite {
  font-size: 0.8rem

}
